.app>.content>.game>.dungeon {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}

.app>.content>.game>.dungeon>.dungeon-area {
    color: var(--color-red);
    text-shadow: var(--text-shadow-4);
    width: 100%;
    height: fit-content;
    text-align: end;
}