@font-face {
    font-family: 'Road_Rage';
    src: url('../fonts/Road-Rage-Font/Road_Rage.otf') format('opentype');
}

@font-face {
    font-family: 'CyberwarRegular-7BX0E';
    src: url('../fonts/CyberwarRegular-7BX0E.ttf') format('truetype');
}

@font-face {
    font-family: 'TaipeiSansTCBetaBold';
    src: url('../fonts/TaipeiSansTCBetaBold/TaipeiSansTCBetaBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TaipeiSansTCBetaRegular';
    src: url('../fonts/TaipeiSansTCBetaRegular/TaipeiSansTCBetaRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'SoukouMincho';
    src: url('../fonts/装甲明朝SoukouMincho.ttf') format('truetype');
}

@font-face {
    font-family: 'pressStart2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}