.app>.content>.market {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
    -moz-user-select: none;
    font-family: var(--font-main), var(--font-5), var(--font-4);
}

.app>.content>.market>.items-key {
    color: var(--color-high-light);
    text-shadow: var(--text-shadow-3);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.app>.content>.market>.items-key>.items-entire {
    color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 50px;
}

.app>.content>.market>.items-key>.items-entire>.item {
    background: #000000;
    border: 2px solid;
    border-image: linear-gradient(to left bottom, var(--color-red-darkness) 10%, transparent 20%, transparent 80%, var(--color-red-darkness) 90%) 1;
    margin: 10px;
    width: 100%;
    min-width: 120px;
    max-width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-title {
    background: var(--color-red);
    border-right: 5px solid var(--color-red-darkness);
    width: 70%;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-size: smaller;
    line-height: 2;
    overflow-wrap: break-word;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-title:hover {
    line-clamp: 999;
    -webkit-line-clamp: 999;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-image {
    background-color: #fff5;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    aspect-ratio: 1;
    max-width: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-image::before {
    content: '';
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    background: linear-gradient(45deg, #e0e0e050 25%, transparent 25%, transparent 50%, #e0e0e050 50%, #e0e0e050 75%, transparent 75%, transparent);
    background-size: 5px 5px;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-buy-button {
    background: var(--color-red);
    border-left: 5px solid var(--color-red-darkness-max);
    cursor: pointer;
    width: 70%;
    margin-left: 30%;
    text-align: center;
    transition: all 100ms ease-out;
    font-family: var(--font-1);
    font-size: medium;
}

.app>.content>.market>.items-key>.items-entire>.item>.item-buy-button:hover {
    background: var(--color-red-darkness);
}

.app>.content>.market>.items-key>.items-entire>.item>.item-buy-button:active {
    background: var(--color-red-darkness-max);
}

.popup-base>.popup-panel-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    padding: 20px;
}

.popup-base>.popup-panel-confirm>.popup-content {
    color: var(--color-high-light);
    font-family: var(--font-main), var(--font-5), var(--font-4);
}

.popup-base>.popup-panel-confirm>button {
    color: var(--color-high-light);
    font-family: var(--font-main), var(--font-5), var(--font-4);
    font-size: 20px;
    position: fixed;
    border: 0px;
    right: 20px;
    bottom: 20px;
}

.popup-base>.popup-panel-confirm>button:active {
    color: var(--color-high-light-darkness);
}

.popup-base>.popup-panel-purchase-failed {
    color: var(--color-red);
    font-family: var(--font-main), var(--font-5), var(--font-4);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.popup-base>.popup-panel-purchase-success {
    color: var(--color-high-light);
    font-family: var(--font-main), var(--font-5), var(--font-4);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}