.app>.nav {
    display: flex;
    flex-wrap: wrap;
    cursor: default;
}

.app>.nav>* {
    flex: 1 0;
}

.app>.nav>.nav-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app>.nav>.nav-right {
    min-width: 100px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.app>.nav>.nav-left>.nav-name {
    color: var(--color-yellow);
    text-shadow: var(--text-shadow-2);
    min-width: 120px;
    flex: 1 0;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    padding: 10px;
}

.app>.nav>.nav-right>.nav-level {
    color: var(--color-high-light);
    text-shadow: var(--text-shadow-main);
    flex: 1 0;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-family: var(--font-2);
}

.app>.nav>.nav-right>.nav-wallet {
    color: var(--color-high-light);
    text-shadow: var(--text-shadow-main);
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: right;
    display: block;
    padding: 10px;
    font-family: var(--font-2);
}

.app>.nav>.nav-right>.nav-wallet:hover {
    text-overflow: unset;
    white-space: pre-wrap;
    word-break: break-all;
}