.app>.nav {
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    font-family: var(--font-main);
}

.app>.nav>* {
    flex: 1 0;
}

.app>.nav>.nav-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app>.nav>.nav-right {
    min-width: 100px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.app>.nav>.nav-left>.nav-level {
    color: #ffffff;
    flex: 1 0;
    width: 50px;
    height: 50px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app>.nav>.nav-left>.nav-name {
    color: var(--color-high-light);
    text-shadow: 1px 1px 5px var(--color-high-light-darkness), 1px 1px 5px var(--color-high-light-darkness);
    min-width: 120px;
    flex: 1 0;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app>.nav>.nav-right>.nav-wallet {
    color: #ffffff;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: right;
    display: block;
    padding: 20px;
}

.app>.nav>.nav-right>.nav-wallet:hover {
    text-overflow: unset;
    white-space: pre-wrap;
    word-break: break-all;
}