:root {
    --color-main: #252525;
    --color-high-light: #bcfff9;
    --color-high-light-darkness: #bcfff999;
    --color-yellow: #f7d967;

    --font-main: 'Road_Rage';
    --font-2: 'CyberwarRegular-7BX0E';
    --font-3: 'TaipeiSansTCBetaRegular';
    --font-4: 'TaipeiSansTCBetaBold';
    --font-5: 'SoukouMincho';
    --font-6: 'pressStart2P';

    --text-shadow-main: 1px 1px 5px var(--color-high-light-darkness), 1px 1px 5px var(--color-high-light-darkness);
    --text-shadow-2: 1px 1px 5px var(--color-yellow), 1px 1px 5px var(--color-yellow);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #353535;
}

::-webkit-scrollbar-thumb:hover {
    background: #353535;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::selection {
    color: white;
    background-color: #3498db;
}

button {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #ffffff70;
}

button:hover {
    border: 1px solid #ffffffaa;
}