.app>.content>.settings {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    font-family: var(--font-family-main);
}

.app>.content>.settings>.info-card {
    color: #ffffff;
    border: 1px solid #ffffff50;
    width: 100%;
    max-width: 190px;
    text-align: center;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

.app>.content>.settings>.info-card:hover {
    border: 1px solid #ffffff90;
}

.popup-base>.popup-panel-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-base>.popup-panel-info-card>.card {
    box-shadow: 1px 1px 2px #000000, -1px -1px 2px var(--color-high-light-darkness-max);
    border-radius: 7px;
    width: 225px;
    height: 125px;
    padding: 5px;
}

.popup-base>.popup-panel-info-card>.card>.card-title {
    color: var(--color-main);
    text-shadow: 1px 1px 2px #000000, -1px -1px 2px var(--color-high-light-darkness-max);
    font-family: var(--font-family-main);
    user-select: none;
    -moz-user-select: none;
}

.popup-base>.popup-panel-info-card>.card>.edit-username {
    color: #ffffff;
    width: 100%;
    max-width: fit-content;
    margin: 5px;
    display: flex;
}

.popup-base>.popup-panel-info-card>.card>.edit-username>input[type=text] {
    color: var(--color-main);
    caret-color: var(--color-high-light);
    text-shadow: -1px -1px 1px var(--color-yellow);
    background: transparent;
    width: 100%;
    height: fit-content;
    outline: none;
    border: none;
    font-size: 17px;
    padding: 5px;
    margin-left: -5px;
}

.popup-base>.popup-panel-info-card>.card>.edit-username>input[type=text]::selection {
    color: var(--color-main);
    background-color: var(--color-high-light-darkness-max);
    text-shadow: -1px -1px 1px var(--color-high-light);
}

.popup-base>.popup-panel-info-card>.card>.edit-username>.confirm-username {
    display: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

.popup-base>.popup-panel-info-card>.card>.edit-username>.confirm-username:hover {
    color: #8ffab6;
}

.app>.content>.settings>.language-select {
    background-color: #777777;
    color: #ffffff;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.app>.content>.settings>.language-select>.language-select-box {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.app>.content>.settings>.language-select>.language-select-box>.language-select-text {
    font-size: large;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.app>.content>.settings>.language-select>.language-select-box>.selection-symbol {
    font-size: x-small;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app>.content>.settings>.language-select>.language-select-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app>.content>.settings>.language-select>.language-select-list>* {
    color: #cccccc;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.app>.content>.settings>.language-select>.language-select-list>*:hover {
    background-color: #aaaaaa;
    white-space: unset;
}

.app>.content>.settings>.logout {
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    margin-top: 2px;
    padding: 2px;
    font-family: var(--font-family-main);
}

.app>.content>.settings>.system-info {
    color: var(--color-high-light);
    text-shadow: var(--text-shadow-main);
    font-size: xx-small;
    white-space: pre-wrap;
    text-align: center;
    max-width: 350px;
}

.app>.content>.settings>.audio-label {
    color: var(--color-high-light);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    white-space: nowrap;
    text-align: center;
}

.app>.content>.settings>.audio-label>div {
    width: 10%;
    text-align: center;
}

.audio-slider {
    appearance: none;
    outline: none;
    background: none;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, var(--color-high-light-darkness)) 1;
    border-radius: 5px;
    height: 5px;
    width: 60%;
    padding: 10px;
}

.audio-slider:hover::-webkit-slider-thumb {
    border: 3px dashed var(--color-high-light);
}

.audio-slider::-webkit-slider-thumb {
    background: transparent;
    border: 3px dashed var(--color-high-light-darkness);
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}