.app>.content>.settings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    font-family: var(--font-main), var(--font-5), var(--font-4);
}

.app>.content>.settings>.edit-username {
    width: 50%;
    max-width: fit-content;
    margin: 5px;
    color: #fff;
    display: flex;
}

.app>.content>.settings>.edit-username>input[type=text] {
    width: 100%;
    height: fit-content;
    outline: none;
    border: none;
    background: #fff2;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    margin-left: -5px;
}

.app>.content>.settings>.edit-username>.confirm-username {
    display: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

.app>.content>.settings>.edit-username>.confirm-username:hover {
    color: #8ffab6;
}

.app>.content>.settings>.language-select {
    background-color: #777777;
    color: #ffffff;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.app>.content>.settings>.language-select>.language-select-box {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.app>.content>.settings>.language-select>.language-select-box>.language-select-text {
    font-size: large;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.app>.content>.settings>.language-select>.language-select-box>.selection-symbol {
    font-size: x-small;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app>.content>.settings>.language-select>.language-select-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app>.content>.settings>.language-select>.language-select-list>* {
    color: #cccccc;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.app>.content>.settings>.language-select>.language-select-list>*:hover {
    background-color: #aaaaaa;
    white-space: unset;
}

.app>.content>.settings>.logout {
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    margin-top: 2px;
    padding: 2px;
    font-family: var(--font-main), var(--font-5), var(--font-4);
}

.app>.content>.settings>.system-info {
    color: var(--color-high-light);
    text-shadow: var(--text-shadow-main);
    font-size: xx-small;
    white-space: pre-wrap;
    text-align: center;
    max-width: 350px;
}

.app>.content>.settings>.audio-label {
    color: var(--color-high-light);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    white-space: nowrap;
    text-align: center;
}

.app>.content>.settings>.audio-label>div {
    width: 10%;
    text-align: center;
}

.audio-slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: none;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, var(--color-high-light-darkness)) 1;
    border-radius: 5px;
    height: 5px;
    width: 60%;
    padding: 10px;
}

.audio-slider:hover::-webkit-slider-thumb {
    border: 1px dashed var(--color-high-light);
}

.audio-slider::-webkit-slider-thumb {
    border: 1px dashed var(--color-high-light-darkness);
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.audio-slider::-moz-range-thumb {
    border: 3px dashed var(--color-high-light-darkness);
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}